.color{
    background-color: slategray;
}

.linha-horizontal {
    position: relative;
    left: 0;
    right: 0;
    height: 15px;
    background: repeating-linear-gradient(90deg, #ffff99, #ffff99 15px, #ffcc00 5px, #ffcc00 40px);
}


#f >  div {
    background-color: #dcecfc;
}


#sla {
    background-color: blue;
}

#f{
    display: flex;
}

.l1 {
    margin-bottom: 10px;
    background-color: #043ca4;
    color: white;
    border-radius: 15px;
    text-align: center;
}

#robo{
    width: 200px;
}